.medium-theme {
  --bg-color: #b4afaf;
  --primary-color: #fdfdfd;
  --secondary-color: #173303f7;
  --important-color: #FB0004;

  //overlay color
  --overlay-color: #4c603ef7;

  //skeleton-color
  --skeleton-color: #666060;
}