.Modal {
  position: fixed;
  opacity: 0;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 1s;


}

.open {
  opacity: 0.7;
  z-index: 100;
  transition: 1s;

}

.content {
  display: flex;
  width: 50%;
}